body {
  margin: 0;
  font-family: 'Georgia', serif;
  background: #f7f5f2;
  color: #333;
}

.page {
  display: flex;
  min-height: 100vh;
}

.slider {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.slide.active {
  opacity: 1;
}

.text {
  width: 50%;
  padding: 80px;
  box-sizing: border-box;
}

h1 {
  letter-spacing: 2px;
  font-weight: normal;
}

.date {
  display: block;
  margin-bottom: 40px;
  color: #999;
}

p {
  line-height: 1.8;
  margin-bottom: 30px;
}
